In [1]:
# tuple as a parameters
def Linear_eqation(m , x , b):
    y = m * x + b
    return y
Linear_eqation(*(2 , 3 ,4))

10

In [5]:
# dictionary as a parameters
def name_age(**dic):
    return  dic 
name = { 'dana ' : 18 , 'anas' : 20}
name_age(**name)

{'dana ': 18, 'anas': 20}

In [24]:
#oop 
class test():
    print("here we go again")
    def name_test(self , name ):
        self.name=name
        return self.name
print(test())
print("&&&&&&&&&")
x=test()
x.name_test("dana")

here we go again
<__main__.test object at 0x00000209457EB390>
&&&&&&&&&

'dana'

In [26]:
class test():
    print("here we go again")
    def name_test(self , name ):
        self.name=name
    def name_test2(self):
        return self.name
x=test()
y= x.name_test(str('dana'))
x.name_test2()

here we go again

'dana'

In [32]:
#subclass
class test():
    print("here we go again")
    def name_test(self , name ):
        self.name=name
        return self.name
class test3(test):
    pass
a = test3()
print(a.name_test(4))

here we go again
4

In [47]:
class family():
    def father(self , name):
        self.name = name
        return self.name
    grand_pa= "mands"
class child(family):
    def childname(self , name):
        self.name = name
        return self.name
x=family()
y=child()
x.father("shown")
y.grand_pa

'mands'

In [49]:
class family():
    name="dana"
    grand_pa= "mands"
class child(family):
   name="rowida"
x=family()
y=child()
y.grand_pa

'mands'

In [50]:
class family():
    name="dana"
    grand_pa= "mands"
class child(family):
   name="rowida"
x=family()
y=child()
x.name

'dana'

In [57]:
#mult subclasses
class mam:
    Mam="lina"
class dad:
    Dad='gowy'
a=dad.Dad
class txt ( dad , mam):
    Name = "My dad's name is" + a
    
x=txt()
x.Name

"My dad's name isgowy"

In [ ]:
#Constructors